<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOST</key>
	<string>${HOST}</string>
	<key>BLOB_CONTAINER_DOMAIN</key>
	<string>${BLOB_CONTAINER_DOMAIN}</string>
	<key>SA_CONNECTION_STRING</key>
	<string>${SA_CONNECTION_STRING}</string>
	<key>SA_KEY</key>
	<string>${SA_KEY}</string>
	<key>KAKAO_API_KEY</key>
	<string>${KAKAO_API_KEY}</string>
	<key>AOAI_DOMAIN</key>
	<string>${AOAI_DOMAIN}</string>
	<key>AOAI_API_KEY</key>
	<string>${AOAI_API_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>앱이 비콘 기반 출석 확인을 위해 사용자의 위치 정보를 항상 사용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱이 비콘 기반 출석 확인을 위해 사용자의 위치 정보를 사용합니다.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>앱이 비콘과 통신하기 위해 Bluetooth를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>슬기로운 학원생활 앱에서 사용자의 사진 라이브러리 접근 권한을 요청합니다.</string>
</dict>
</plist>
